<html>
<head>
    <meta charset="utf-8">
    <title>老爹二手房</title>
    <link rel="stylesheet" href="layui/css/layui.css" media="all">
</head>
<body>
<div align="center">
    <h2 >老爹二手房</h2><br>
</div>
<ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item"><a href="">默认排序</a></li>
    <li class="layui-nav-item layui-this"><a href="">最新发布</a></li>
    <li class="layui-nav-item"><a href="">总价</a></li>
    <li class="layui-nav-item"><a href="#">房屋单价</a></li>
    <li class="layui-nav-item"><a href="">面积</a></li>
</ul>

<br><br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span class="layui-breadcrumb" align= "center">
  <a href="index.jsp">首页        </a>
  <a href="demo.html">重庆二手房  </a>
  <a href="demo.html">九龙坡二手房</a>
</span>

<br><br><br>

<div id="vueTable">
    <div class="layui-row layui-col-space10">
        <div class="layui-container">
            <div class="layui-row">
                <div class="layui-col-md9">
                    <div class="layui-carousel" id="test1">
                        <div carousel-item>
                            <!--循环取图片路径的值-->
                            <div  v-for="item in img" :key="item">
                                <div><img :src="item" width="660px" height="373px" ></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md3">
                    <div style="width: 550px">
                        <table class="layui-table">
                            <tbody>
                            <tr>
                                <td>价 格</td>
                                <td>面 积</td>
                                <td>地 址</td>
                                <td>房 型</td>
                                <td>预约量</td>
                            </tr>
                            <tr v-for="item in products">
                            <!--循环拿到表格字段-->
                                <td><p>{{item.hmoney}}万元</p></td>
                                <td><p>{{item.harea}}M²</p></td>
                                <td>{{item.haddress}}</td>
                                <td>{{item.housetype}}</td>
                                <td>{{item.horder}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <br>
                    <hr class="layui-bg-blue">
                        <div style="padding: 20px; background-color: #F2F2F2;">
                            <div class="layui-row layui-col-space15">
                                <div class="layui-col-md12">
                                    <div class="layui-card">
                                        <div class="layui-card-header">
                                        居室详解
                                        </div>
                                            <div class="layui-card-body" v-for="item in products">
                                                {{item.hsynopsis}}
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br><br><br><br><br><br><br>
                    <form>
                        <button type="button" class="layui-btn layui-btn-lg layui-btn-radius layui-btn-normal">预约购房</button>
                            </form>
                            <br>
                    &nbsp;&nbsp;&nbsp; <h3>联系电话:888-888-8888</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/jquery-3.4.1.js"></script>
<script src="js/Vue.js"></script>
<script src="layui/layui.js"></script>
<script src="js/indoorList.js"></script>

<script>
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use(['element', 'carousel', 'table', 'layer'], function () {
        var layer = layui.layer,
            element = layui.element,
            carousel = layui.carousel,
            table = layui.table;
        //建造实例
        carousel.render({
            elem: '#test1'
            , width: '660PX' //设置容器宽度
            , height: '373PX'//设置容器高度
            , arrow: 'always' //始终显示箭头
            , autoplay: 'boonlean'//不自动播放
        });
    });
</script>
</body>
</html>